@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .containerb{
        @apply w-full max-w-[1160px] px-5 mx-auto
    }
}

@layer components {
    .inputs{
        @apply border border-input w-[444px] rounded-lg px-4 py-5
    }
}

.special{

border-style: solid;

border-color: #20368633;


}


.custom-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: dense;
  }
  
  .custom-grid li:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .custom-grid li:nth-child(2),
  .custom-grid li:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .custom-grid li:nth-child(4) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .custom-grid li:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .custom-grid li:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .custom-grid li:nth-child(7){
    grid-column: span 1;
    grid-row: span 1;
  }
  .custom-grid li:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .custom-grid li:nth-child(9) {
    grid-column: span 2;
    grid-row: span 1;
  }
  